<div>
  <header class="contact-details__header">
    <div class="contact-details__first-letter">{{ contact.firstLetter }}</div>
    <input class="contact-details__name" [(ngModel)]="contact.name" placeholder="Nome" type="text">
  </header>

  <ul class="contact-details__info">
    <li class="contact-details__list">
      <ui-section title="Telefones">
        <ul>
          <li class="contact__data" *ngFor="let phone of contact.phones; let i = index">
            <input [ngModel]="phone" (change)="contact.phones[i] = $event" type="text">
            <span class="data__delete button--icon button--danger" (click)="removePhone(phone)"></span>
          </li>

          <li class="contact__data">
            <input [(ngModel)]="newPhone" (change)="addPhone($event.target.value)" placeholder="Novo telefone" type="text">
          </li>
        </ul>
      </ui-section>
    </li>

    <li class="contact-details__list">
      <ui-section title="E-mails">
        <ul class="contact-details__list">
          <li class="contact__data" *ngFor="let email of contact.emails; let i = index">
            <input [ngModel]="email" (change)="contact.emails[i] = $event" type="text">
            <span class="data__delete button--icon button--danger" (click)="removeEmail(email)"></span>
          </li>

          <li class="contact__data">
            <input [(ngModel)]="newEmail" (change)="addEmail($event.target.value)" placeholder="Novo e-mail" type="text">
          </li>
        </ul>
      </ui-section>
    </li>

    <li class="contact-details__list">
      <ui-section title="WhatsApp">
        <ul class="contact-details__list">
          <li class="contact__data" *ngFor="let whatsapp of contact.whatsapp; let i = index">
            <input [ngModel]="whatsapp" (change)="contact.whatsapp[i] = $event" type="text">
            <span class="data__delete button--icon button--danger" (click)="removeWhatsapp(whatsapp)"></span>
          </li>

          <li class="contact__data">
            <input [(ngModel)]="newWhatsapp" (change)="addWhatsapp($event.target.value)" placeholder="Novo whatsapp" type="text">
          </li>
        </ul>
      </ui-section>
    </li>
  </ul>

  <div class="button-container">
    <button class="button button--delete" (click)="delete()" type="button">Excluir</button>
    <button class="button button--success" (click)="save()" type="button">Salvar</button>
  </div>
</div>
